/* Inizio reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Fine reset */

/* Inizio elementi ripetuti */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.float {
  float: left;
}
/* Fine elementi ripetuti */

/* Inizio debug */
.debug {
  background-color: #6b5b95;
}
.debug2 {
  background-color: #feb236;
}
.debug3 {
  background-color: #d64161;
}
.debug4 {
  background-color: #ff7b25;
}
/* Inizio debug */

/* INIZIO MAIN */
.ms_main {
  height: calc(100vh - 100px);
}
.ms_sidebar {
  height: 100%;
  width: 200px;
}
.ms_main_content {
  height: 100%;
  width: calc(100% - 200px);
  overflow-y: auto;
  padding-top: 100px;
}
.ms_uprade {
  height: 100px;
  position: fixed;
  top: 0;
  width: calc(100% - 200px);
  text-align: right;
}

/* Inizio sidebar a sinistra */
.ms_logo {
  height: 80px;
}
.ms_menu {
  height: 80px;
}
.ms_playlist {
  height: 80px;
}
.ms-install {
  height: 40px;
}
.ms-account {
  height: 40px;
}
.ms_plylist_list {
  height: calc(100% - 320px);
  overflow-y: auto;
}
/* Fine sidebar sinistra */
/* FINE MAIN */

/* INIZIO PLAYER */
.ms_player {
  height: 100px;
}
/* FINE PLAYER */
