/* Inizio reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Fine reset */

/* Inizio regole generali */
.ms_wrapper {
  background-color: #000;
  height: 100vh;
  width: 100%;
  min-width: 500px;
  font-family: Helvetica, Arial, sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
/* Fine regole generali */

/* Inizio elementi ripetuti */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.float {
  float: left;
}
/* Fine elementi ripetuti */

/* Inizio debug */
.debug {
  background-color: #6b5b95;
}
.debug2 {
  background-color: #feb236;
}
.debug3 {
  background-color: #d64161;
}
.debug4 {
  background-color: #ff7b25;
}
/* Inizio debug */

/* INIZIO MAIN */
.ms_main {
  height: calc(100% - 100px);
}
.ms_sidebar {
  height: 100%;
  width: 200px;
}
.ms_main_content {
  height: 100%;
  width: calc(100% - 200px);
  overflow-y: auto;
  background-color: #141922;
  color: #fff;
}

/* Dare il margin top al menu di navigazione */
.ms_main_content h1 {
  margin-top: 100px;
}
/* Dare il margin top al menu di navigazione */

/* Inizio top bar per upgrade */
.ms_upgrade_topbar {
  height: 100px;
  position: fixed;
  top: 0;
  width: calc(100% - 200px);
  text-align: right;
  color: white;
  background-color: rgba(8, 11, 18, 0.9);
  line-height: 100px;
  padding-right: 5px;
  /* colore da sistemare */
}
.ms_upgrade {
  border: 1px solid white;
  border-radius: 15px;
  padding: 10px 30px;
  text-transform: uppercase;
}
/* Fine top bar per upgrade */

/* Inizio sidebar a sinistra */
.ms_logo {
  height: 80px;
}
.ms_menu {
  height: 80px;
}
.ms_playlist {
  height: 80px;
}
.ms-install {
  height: 40px;
}
.ms-account {
  height: 40px;
}
.ms_plylist_list {
  height: calc(100% - 320px);
  overflow-y: auto;
}
/* Fine sidebar sinistra */
/* FINE MAIN */

/* INIZIO PLAYER */
.ms_player {
  height: 100px;
  background-color: #282828;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}
.ms_gray {
  color: #5a5a5a;
}

/* Inizio song */
.ms_song {
  flex-basis: 25%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
.ms_song_features {
  flex-shrink: 0;
}
.ms_song img {
  width: 50px;
  vertical-align: middle;
}
.ms_title_song {
  display: inline-block;
  vertical-align: middle;
  font-size: 10px;
  margin-right: 20px;
}
.ms_like_folder {
  display: inline-block;
}
.ms_song i {
  margin: 0 5px;
}
/* Fine song */
.ms_controls {
  flex-basis: 40%;
  text-align: center;
}
.ms_video_sound {
  flex-basis: 25%;
  text-align: right;
}

/* FINE PLAYER */
