/* Inizio reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Fine reset */

/* Inizio regole generali */
.main_wrapper {
  background-color: #000;
  height: 100vh;
  width: 100%;
  min-width: 500px;
  font-family: Helvetica, Arial, sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
ul li {
  list-style-type: none;
}
/* Fine regole generali */

/* Inizio elementi ripetuti */
.grey {
  color: #5a5a5a;
}
/* Fine elementi ripetuti */

/* Inizio debug */
.debug {
  background-color: #6b5b95;
}
.debug2 {
  background-color: #feb236;
}
.debug3 {
  background-color: #d64161;
}
.debug4 {
  background-color: #ff7b25;
}
/* Inizio debug */


/* INIZIO MAIN */
main {
  height: calc(100% - 100px);
}
.sidebar {
  float: left;
  height: 100%;
  width: 200px;
  overflow: hidden;
  color: #fff;
  padding: 10px;
  font-size: 12px;
  font-weight: bold;
}
.main_content {
  float: left;
  height: 100%;
  width: calc(100% - 200px);
  overflow-y: auto;
  background-color: #141922;
  color: #fff;
  padding-top: 100px;
  padding-left: 25px;
  padding-right: 25px;
}
/* Inizio sidebar a sinistra */
/* Inizio elementi layout */
.nav_element {
  overflow: hidden;
}
.logo {
  height: 60px;
  width: 80%;
}
.logo_small {
  display: none;
}
.menu {
  height: 120px;
}
.playlist_container {
  height: calc(100% - 240px);
}
.playlist {
  overflow-y: auto;
  height: 80%;
}
.account {
  height: 60px;
}
/* Fine elementi layout */
.nav_element img {
  height: 25px;
  vertical-align: middle;
}
.nav_element i {
  font-size: 25px;
  vertical-align: middle;
}
.menu li {
  margin: 5px 0;
  line-height: 25px;
}
.playlist_container h3 {
  margin-bottom: 10px;
}
.sidebar .make_playlist {
  font-size: 50px;
  vertical-align: middle;
}
.playlist li {
  margin: 15px 0;
}
.account p {
  margin-top: 5px;
}
/* Fine sidebar sinistra */

/* Inizio main content */
/* Inizio top bar per upgrade */
.topbar_upgrade {
  height: 100px;
  width: calc(100% - 200px);
  position: fixed;
  top: 0;
  right: 0;
  text-align: right;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  line-height: 100px;
  padding-right: 5px;
}
.btn_upgrade {
  border: 1px solid white;
  border-radius: 15px;
  padding: 10px 30px;
  text-transform: uppercase;
}
/* Fine top bar per upgrade */
/* Inizio navbar main */
.navbar_main {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}
.navbar_main .flex_list  {
  display: flex;
  justify-content: center;
  line-height: 50px;
  flex-wrap: wrap;
}
.navbar_main ul li {
  margin: 0 15px;
}
/* Fine navbar main */

/* Inizio contenuto principale */
.music_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 25px 0;
}
.music_container img {
  width: 100%;
}
.music_item {
  flex-basis: 200px;
  text-align: center;
  padding: 10px;
}
.music_item h5 {
  margin-top: 5px;
}
.music_item p {
  font-weight: bold;
  margin: 5px 0;
  font-size: 12px;
}
.cover {
  position:relative;
  width: 100%;
}
.filter {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0);
  position: absolute;
  top: 0;
  left: 0;
}
.filter i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  display: none;
  font-size: 25px;
}
.cover:hover .filter {
  background-color: rgba(0,0,0, 0.5);
}
.cover:hover .filter i {
  display: block;
}
/* Fine contenuto principale */

/* Fine main content */
/* FINE MAIN */

/* INIZIO FOOTER */
footer {
  height: 100px;
  background-color: #282828;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}
/* Inizio song */
.song {
  flex-basis: 25%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
.song_features {
  flex-shrink: 0;
}
.song img {
  width: 50px;
  vertical-align: middle;
}
.song_title {
  display: inline-block;
  vertical-align: middle;
  font-size: 10px;
  margin-right: 20px;
}
.song_like {
  display: inline-block;
}
.song i {
  margin: 0 5px;
}
/* Fine song */

/* Inizio player */
.player {
  flex-basis: 40%;
  text-align: center;
}
.player ul li {
  display: inline-block;
  font-size: 15px;
  margin: 0 5px;
}
.player .play {
  font-size: 20px;
}
.player .container_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.time_bar {
  width: 80%;
}
.bar_passed {
  content: "";
  background-color: #c1c1c1;
  height: 3px;
  width: 30%;
}
.bar_remaining {
  content: "";
  background-color: #5a5a5a;
  height: 3px;
  width: 98%;
}
/* Fine player */

/* Inizio controls */
.controls {
  flex-basis: 25%;
  flex-shrink: 0;
  text-align: right;
}
.controls ul li {
  display: inline-block;
  margin: 0 3px;
  font-size: 10px;
}
.controls .sound_bar {
  vertical-align: middle;
  display: inline-block;
  width: 70px;
}
/* Fine controls */
/* FINE FOOTER */

/* INIZIO MEDIA QUERY */
@media screen and (max-width: 767px) {
  .sidebar {
    width: 80px;
  }
  .sidebar .logo_normal {
    display: none;
  }
  .sidebar .logo_small {
    display: block;
  }
  .sidebar .display_none_small {
    display: none;
  }
  .sidebar .playlist_container {
    display: none;
  }
  .sidebar .menu {
    height: calc(100% - 120px);
  }
  .main_content {
    width: calc(100% - 80px);
  }
  .topbar_upgrade {
    width: calc(100% - 80px);
  }
  .music_item {
    flex-basis: 300px;
  }
}
/* FINE MEDIA QUERY */
